html {
  height: 100%;
  width: 100%;
background-color: #000000;
  color: blue;

}
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .image {
      flex: 1;
      margin-left: 20px;
      max-width: 500px;
      max-height: 505px;
    }
    .text {
      flex: 2;
    }
  
